

// @media screen and (min-width: 48em) {
//     .shop--navigation {display: none;}
// }



@media screen and (min-width: @tabletViewportWidth) {
    .shop--navigation .navigation--list {
        display: none;
    }

    .navigation--list-wrapper .navigation--entry {
        &.entry--cart,
        &.entry--account {
            
        }
    }
}

@media screen and (min-width: @desktopViewportWidth) {

    .navigation-main .navigation--list {
        white-space: normal;
    }

    .navigation-main > .container > .navigation--list-wrapper {
        text-align: center;
        overflow: inherit;

        .navigation--list.container {
            overflow: visible;
            display: flex;
            align-items: center;
            justify-content: center;
            align-self: center;
            vertical-align: middle;

            &>.navigation--entry {

                min-width: 33px;

                &.coha--navigation-space {
                    margin-right: 19%;
                }

                &.entry--cart,
                &.entry--account {
                    

                    .navigation--link {
                        .unitize-padding(4, 3, 0);
                    }
                }

                &.entry--cart {

                }
                &.entry--account {

                }
            }
        }

    }

}


// Styling

/* Thin icons */
.thin-icon {
    width: 25px;
    height: 25px;
    display: inline-block;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center center;

    &.user {
        padding-top: 2px; 
        background-image: url('../img/icons/user.svg');
    }
    &.bag  {
        padding-top: 0px; 
        background-image: url('../img/icons/bag.svg');
    }
    &.menu {
        height: 35px;
        width: 36px;
        margin-top: -5px;
        background-image: url('../img/icons/menu.svg');
    }
}
